*loginShell: true
*internalBorder: 6

! XTerm settings.
XTerm*faceName: DejaVu Sans Mono:size=9
XTerm*font: -*-gohufont-medium-*-*-*-11-*-*-*-*-*-*-*
XTerm*forceBoxChars: true
XTerm*termName: xterm-256color
XTerm*metaSendsEscape: true

! URxvt settings.
URxvt.scrollBar: false
URxvt.font: xft:DejaVu Sans Mono:size=9

! Include the colours from a generic file.
! I usually make a symlink to a base16 colour.
#include ".Xcolours"
